<div id="header">
		<h1><a href="#">musinsky</a></h1>
	  <h2><a href="#">rare books</a></h2>
	</div>
	
	<div id="left">
		<div id="menu" class="boxed">
			<h2 class="heading"> &nbsp;</h2>
			<ul>    
			   <li> <%= link_to "home", { :controller => '/', :action => :index } %></li>
			<li> <%= link_to "stock", { :controller => '/books', :action => :index } %></li>
                <!--li--> <!--= link_to "lists", { :controller => '/lists', :action => :index } %></li--> 
              	   <% unless @is_authenticated %>	
					<li> <%= link_to "log in", login_path %></li>  
					<% end %>
				<% if @is_authenticated %>	
				<li> <%= link_to "log out", :action => 'logout' %></li>  
				<% end %>
				<!--li><a href="#" title="">lists</a></li>
				<li><a href="#" title="">contact</a></li  -->
			</ul>   </div>
	   
	    <div id="contact"> 	<h2 class="heading">Contact </h2>
			<%= render :partial => "books/contact_info" %>  <!-- end #contact -->
	 </div>    <!-- end #left -->